.List {
  z-index: 500;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px 0;
  margin: 16px;
  float: left;
  box-shadow: 1px 1px 10px rgb(163, 163, 163);
}
.List h2 {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 6px;
}
.List .Input {
  width: 100%;
  border: none;
  padding: 5px 10px 5px 20px;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

.List .InputArea {
  display: inline-flex;
  padding-right: 5px;
}

.List ul {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.List li {
  list-style: none;
  width: 250px;
  padding: 0 20px;
  position: relative;
}

.List li:hover {
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.308);
}
.List .Checkbox {
  display: inline-block;
  color: rgb(126, 126, 126);
}


.List button {
  float: right;
  margin-right: 10px;
  color: #646464cb;
  background-color: white;
  border: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.List button:hover,
.List button:active {
  background-color: rgba(172, 172, 172, 0.247);
}
