.Form {
  position: relative;
  width: 480px;
  margin: 0 auto 20px auto;
  background: rgba(255, 255, 255, 0.993);
  padding: 1px 1px 1px 1px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  top: 100px;
  min-width: 240px;
}
.Form input,
.Form textarea {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: inherit;
}
.Form .Input {
  padding-bottom: 2px;
  padding-top: 5px;
  padding-left: 35px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  width: 90%;
}

.Form .Input1 {
  padding-left: 35px;
  width: 90%;
}

.Form .Input2 {
  width: 90%;
}

@media (max-width: 1000px) {
  .Form {
    margin-left: 252px;
  }
}
@media (max-width: 780px) {
  .Form {
    margin-left: 120px;
  }
}

@media (max-width: 640px) {
  .Form {
    width: 80%;
    margin-left: 56px;
  }
}

@media (max-width: 500px) {
  .Form {
    width: 75%;
  }
}




/* @media (max-width: 570px) {
  .Form {
    width: 80%;
  }
} */

/* @media (max-width: 533px) {
  .Form {
    width: 60%;
    
  }
} */

/* @media (max-width: 460px) {
  .Form .Input1 {
    width: 87%;
  }
  .Form .Input {
    width: 87%;
  }
  .Form .Input2 {
    width: 87%;
  }
} */
.Hidden {
 visibility: hidden;
}


.PinButton {
  display: inline-block;
  position: absolute;
  top: 6px;
}



.PinButton button:active {
  color: black;
}
.PinInactive {
  color: #adadadcb;
}

.PinActive {
  color: black;
}



.Form button {
  /* position: absolute;
  right: 18px; */
  bottom: 0px;
  position: relative;
  float: right;
  margin-right: 5px;
  background: inherit;
  color: #646464cb;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.Form button:hover,
.Form button:active {
  background-color: rgba(172, 172, 172, 0.247);
}

.Buttons {
  height: 35px;
}

.Labels {
  padding-left: 20px;
}

.Label {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(163, 163, 163, 0.253);
  border-radius: 10px;
  min-width: 50px;
  max-width: 90%;
  padding: 0 10px;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-top: 5px;
  position: relative;
  text-align: center;
}

.Label button {
  width: auto;
  height: auto;
  background-color: rgba(163, 163, 163, 0);
  color: black;
  margin-right: 0;
}

.Button {
  display: none;
  position: absolute;
  margin-top: 4px;
  right: 7px;
}
.Label:hover {
  text-align: left;
}

.Label:hover .Button {
  display: inline-flex;
}

.Label:hover .LabelText {
  width: max(75%, calc(100% - 10px));
}

.LabelText {
  display: inline-block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Checkbox {
  display: inline-block;
  color: rgb(126, 126, 126);
  position: absolute;
  left: 10px;
  top: 6px;
  cursor: pointer;
  
}

.Checkbox1 {
  display: inline-block;
  color: rgb(126, 126, 126);
  position: absolute;
  left: 10px;
  top: 13px;
  cursor: pointer;
}

.Form .Button1 {
  display: inline-block;
  position:absolute;
  top: 7px;
}

.Form .Button2 {
  display: inline-block;
  position:absolute;
  top: 5px;
}

.Form hr {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  
}

.Form a {
  color: black;
}

.white {
  background:#ffffff;
}
.red {
  background:#ffcfcf;
}

.orange {
  background: #ffe3be;
}

.yellow {
  background: #fffccb;
}

.green {
  background:#edffcd;
}
.turquoise {
  background: #d3fff8;
}

.blue {
  background:#d5f2ff;
}
.darkblue {
  background:#d7ddfd;
}
.purple {
  background:#e8dbff;
}

.pink {
  background:#fdd8f4;
}