.Form {
  z-index: 500;
  position: fixed;
  top: 25%;
  left: 35%;
  width: 480px;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  max-height: 500px;
  
}

.Form1 {
  z-index: 500;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 480px;
  margin: auto;
  height: auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  max-height: 500px;
  
}

.Form .Input {
  padding-bottom: 2px;
  padding-top: 5px;
  padding-left: 10px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  width: 84%;
  margin: auto;
  background: inherit;
}

.Form .Input1 {
  padding-left: 40px;
  width: 90%;
}

@media (max-width: 800px) {
  .Form {
    width: 400px;
  }
  .Form .Input {
    width: 83%;
  }
}
@media (max-width: 780px) {
  .Form {
    width: 400px;
    left: 25%;
  }
}

@media (max-width: 700px) {
  .Form {
    width: 350px;
  }
  .Form .Input {
    width: 80%;
  }
  .Form .Input1 {
    width: 88%;
  }
  .Form .Input2 {
    width: 88%;
  }
}

@media (max-width: 533px) {
  .Form {
    width: 240px;
  }
  .Form .Input {
    width: 70%;
  }
  .Form .Input1 {
    width: 82%;
  }
  .Form .Input2 {
    width: 82%;
  }
}

@media (max-width: 400px) {
  .Form {
    left: 15%;
  }
}
.PinButton {
  display: inline-block;
  position: absolute;
  top: 6px;
}

.PinButton button:active {
  color: black;
}

.PinActive {
  color: black;
}

.PinInactive {
  color: #adadadcb;
}


.Form input,
.Form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  display: inline-block;
  background: inherit;
}
.Form input {
  padding-top: 10px;
  width: 90%;
}

.Form button {
  /* position: absolute;
  right: 18px; */
  bottom: 0px;
  position: relative;
  float: right;
  margin-right: 5px;
  background: inherit;
  color: #646464cb;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.Form button:hover,
.Form button:active {
  background-color: rgba(172, 172, 172, 0.247);
}

.Buttons {
  height: 30px;
  padding-right: 10px;
}

.Labels {
  padding-left: 20px;
}

.Label {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(163, 163, 163, 0.253);
  border-radius: 10px;
  min-width: 40px;
  max-width: 90%;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-top: 5px;
  position: relative;
}

.Label button {
  width: auto;
  height: auto;
  background-color: rgba(163, 163, 163, 0);
  color: black;
  margin-right: 0;
}

.Button {
  display: none;
  position: absolute;
  margin-top: 4px;
  right: 7px;
}

.Label:hover {
  text-align: left;
}

.Label:hover .Button {
  display: inline-flex;
}
.Label:hover .LabelText {
  width: max(75%, calc(100% - 10px));
}

.LabelText {
  display: inline-block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Checkbox {
  display: inline-block;
  color: rgb(126, 126, 126);
  margin-left: 15px;
  top: 6px;
  cursor: pointer;
  
}

.Checkbox1 {
  display: inline-block;
  color: rgb(126, 126, 126);
  position: absolute;
  left: 15px;
  top: 13px;
  cursor: pointer;
}

.Form .Button1 {
  display: inline-block;
  position:absolute;
  top: 7px;
}

.Form .Button2 {
  display: inline-flex;
  width: 35px;
  height: 30px;
  /* position:relative; */
}

.Form hr {
  margin: auto;
  margin-top: 7px;
  width: 80%;
  
}

.Form a {
  color: black;
}

.white {
  background:#ffffff;
}
.red {
  background:#ffcfcf;
}

.orange {
  background: #ffe3be;
}

.yellow {
  background: #fffccb;
}

.green {
  background:#edffcd;
}
.turquoise {
  background: #d3fff8;
}

.blue {
  background:#d5f2ff;
}
.darkblue {
  background:#d7ddfd;
}
.purple {
  background:#e8dbff;
}

.pink {
  background:#fdd8f4;
}