.List {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 240px;
  margin: 16px;
  float: left;
  cursor: default;
  position: relative;
}
.List p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(46, 46, 46);
}
.List .Title {
  font-weight: 500;
  font-size: 1em;
  margin-right: 8px;
  margin-bottom: 0;
  color: rgb(46, 46, 46);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.List .Labels {
  margin-top: 7px;
  width: 100%;
  padding-right: 10px;
  padding-left: 20px;
}

.List .Label {
  font-size: 0.8em;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(163, 163, 163, 0.253);
  border-radius: 10px;
  min-width: 40px;
  max-width: 130px;
  padding: 0 10px;
  padding-bottom: 5px;
  padding-top: 3px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

hr {
  width: 200px;
  margin: 10px auto;
}
.List ul {
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.List li {
  list-style: none;
  margin: 0 10px;
  position: relative;
  border-radius: 10px;
  padding: 0 5px;
}
.List li:hover {
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.308);
}
.ButtonArea {
  display: inline-flex;
}

.List button {
  position: relative;
  float: right;
  margin-right: 5px;
  color:#646464cb;
  background-color: white;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.List button:hover,
.List button:active {
  background-color: rgba(172, 172, 172, 0.247);
}

.Button {
  display: none;
  position: absolute;
  margin-top: 2px;
  right: 4px;
}
.Label button {
  width: auto;
  height: auto;
  background-color: rgba(163, 163, 163, 0);
  color: black;
  margin-right: 0;
}
.Label:hover .Button {
  display: inline-block;
}

.Label:hover .LabelText {
  width: max(80%, calc(100% - 10px));
}
.Label:hover {
  text-align: left;
}

.LabelText {
  display: inline-block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
}

.RemainingLabels {
  display: inline-block;
  background-color: rgba(163, 163, 163, 0.253);
  padding: 3px 10px;
  border-radius: 3px;
}