.NotesPage {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow-y:scroll;
  overflow-x:hidden; */
}

.Notes {
  margin-left: 252px;
  margin-top: 120px;
}
@media (max-width: 780px) {
  .Notes {
    margin-left: 100px;
  }
}
@media (max-width: 640px) {
  .Notes {
    margin-left: 40px;
  }
}

.NotesWhenPinned {
  margin-top: 30px;
}

.Notes h5 {
  color: rgb(143, 143, 143);
  margin-left: 20px;
}

.Empty {
  position: fixed;
  width: 300px;
  margin: 250px auto 20px auto;
  left: 40%;
  top: 120px;
  /* padding-top: 80px; */
  background: #fff;
  border-radius: 7px;
  text-align: center;
  z-index: -1;
}
@media (max-width: 780px) {
  .Empty {
    left: 27%;
  }
}

@media (max-width: 600px) {
  .Empty {
    left: 24%;
  }
}
@media (max-width: 533px) {
  .Empty {
    left: 20%;
  }
}

@media (max-width: 480px) {
  .Empty {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .Empty {
    left: 15%;
  }
}

@media (max-height: 750px) {
  .Empty {
    margin-top: 140px;
  }
}

@media (max-height: 700px) {
  .Empty {
    margin-top: 125px;
  }
}

@media (max-height: 650px) {
  .Empty {
    margin-top: 105px;
  }
}

@media (max-height: 600px) {
  .Empty {
    margin-top: 90px;
  }
}

.Icon {
  font-size: 130px;
  color: #ececec;
}

.Note {
  color: #8d9094;
  font-size: 23px;
}

/* @media (max-width: 780px) {
  .Empty {
    left: 35%;
  }
} */

.SearchResult {
  padding: 10px 7px;
  border: none;
  display: block;
  font-size: 15px;
  position: relative;
  margin: 120px auto 0 12px;
  background: white;
  color: #383835;
  outline: none;
  font-weight: 500;
}
