.Note {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px 0 5px 10px;
  width: 240px;
  margin: 16px;
  float: left;
  cursor: default;
}

.Note:hover {
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}


.Note h2 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 6px;
  color: rgb(46, 46, 46);
}
.Note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(46, 46, 46);
}

.Note .Labels {
  margin-top: 3px;
  width: 155px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.ButtonArea {
  display: inline-flex;
}

.Note .Label {
  font-size: 0.8em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  background-color: rgba(163, 163, 163, 0.253);
  border-radius: 10px;
  min-width: 40px;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 5px;
  padding-top: 3px;
}

.Note button {
  position: relative;
  float: right;
  margin-right: 5px;
  color:#646464cb;
  background-color: white;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.Note button:hover,
.Note button:active {
  background-color: rgba(172, 172, 172, 0.247);
}
