
.SideBar {
    position: fixed;
    width: 220px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 85px;
    background-color: rgb(255, 255, 255);
    padding: 16px 0;
    box-sizing: border-box;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 780px) {
    .SideBar {
      width: 120px;
    }
  }


.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.NavigationItem {
  box-sizing: border-box;
  display: block;
  height: 100%;
}

.NavigationItem:hover {
  cursor: pointer;
}

.NavigationItem div {
  color: #464646;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 30px;
  padding: 10px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.NavigationItem div:hover {
  background-color: rgba(192, 192, 192, 0.192);
}

.NavigationItem div.active,
.NavigationItem div.active:hover {
  background-color: #0fe3ff36;
}

