.NotesPage {
  position: fixed;
  width:100%;
  height: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.Notes {
  margin-left: 236px;
}

@media (max-width: 780px) {
  .Notes {
    margin-left: 80px;
  }
}
@media (max-width: 640px) {
  .Notes {
    margin-left: 40px;
  }
}

.Empty {
  position: fixed;
  top: 35%;
  margin: 30px auto 20px auto;
  left: 45%;
  background: #fff;
  padding: 15px 5px 10px 15px;
  border-radius: 7px;
  text-align: center;
}

@media (max-width: 780px) {
    .Empty {
      left: 36%;
    }
}

@media (max-width: 580px) {
  .Empty {
      left: 32%;
  }
}
@media (max-width: 530px) {
  .Empty {
      left: 30%;
  }
}

@media (max-width: 430px) {
  .Empty {
      left: 25%;
  }
}

@media (max-width: 400px) {
  .Empty {
      left: 23%;
  }
}

@media (max-width: 370px) {
  .Empty {
      left: 21%;
  }
}

.Icon {
  font-size: 130px;
  color: #ececec;
}

.Note {
  color: #8d9094;
  font-size: 23px;
}


.Button {
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgb(138, 138, 137);
  padding: 10px 7px;
  border-radius: 7px;
  border: none;
  display: block;
  font-size: 15px;
  position: relative;
  margin: 30px auto 20px 30px;
  background: white;
  color: #383835;
  cursor: pointer;
  outline: none;
}

.SearchResult {
  padding: 10px 7px;
  border: none;
  display: block;
  font-size: 15px;
  position: relative;
  margin: 100px auto 0 20px;
  background: white;
  color: #383835;
  outline: none;
  font-weight: 500;
}

.Button:hover,
.Button:active {
    background-color: rgb(245, 245, 245);
}

